*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 900;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom: #161620;
}

.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #161620;
    border-bottom-color: #161620;
  }
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
	font-weight: 800;
}

.link{
    font-family: 'Montserrat', sans-serif;
    color: rgb(146, 145, 145);
    text-decoration: none;
    padding: 10px;
} 

#sosmed{
    padding: 10px;
}

.text2{
    padding-top: 180px; 
    text-align: left; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #161620;
    text-transform: capitalize;
    text-shadow: black;
}
.text3{
    padding-top: 150px; 
    text-align: left; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 60px;
    color: #161620;
    text-transform: capitalize;
    text-shadow: #fff;
}

@media(max-width: 992px) {
    #maps{
        align-items: center;
        margin-left: -17px;
    }
}